<mat-form-field class="dropdown" appearance="fill">

    <mat-label>Location</mat-label>
  
    <mat-select>
      <mat-option>None</mat-option>
      <div *ngFor= "let listloc of LocList2">
       
      <mat-option value="option1">{{listloc.Loc}}</mat-option>
    </div>
    </mat-select>
  
  </mat-form-field><br><br>
  <button mat-raised-button (click)="onSubmit()">Submit</button>