<div class="main">
    <br>
    <br>
    
    <h1 >Registration success !</h1>
    <img src="assets\Images\success.png" style="width: 150px;height: 150px;">
    <br>
    <img class="gif" src="assets\GIF\Happy.gif">
   <h2>
    <b>Your Registration is successful</b> <br>     
   </h2>
   <button class="a2" (click)="visittype()">OK</button>
   
    
    
</div>