<div class="contain">
    <h1>Please Select your Visit Type</h1>
    <mat-card class="option">
        <button mat-raised-button (click)="gotopage('Specialist Outpatient Clinics')">Specialist Outpatient Clinics</button><br><br>
        <button mat-raised-button (click)="gotopage('Inpatient Wards')">Inpatient Wards</button><br><br>
        <button mat-raised-button (click)="gotopage('General Visit')">General Visit</button>
    </mat-card>
</div>
