.contain{
    text-align: center;
    padding-top: 5%;
}

button{
    height: 50px;
    width:200px;
    background-color: cornsilk;
}

button:hover{
    background-color: green;
    color:white;
}

mat-card{


    border-color: black;
    border: 55px !important;
    border-radius: 30px !important;
    border: #000 !important;
}