.example-form {
    padding-top: 15%;
    padding-left: 45%;
    max-width: 250px;

    width: 50%;
  }
  
  .dropdown{
    padding-left: 45%;
  }

  button{
    margin-left: 49%;
    background-color: green;
    color: white;
  }
