.title{
    padding-top: 5%;
    padding-left: 40%;
}

.title2{
    
    font-size: 22px;
}
input[type=text]{
    margin-top: 2%;
    width: 100px solid #aaa;
  border-radius:4px;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
  
  }
  
  input[type=text]:focus{
  border-color:dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
  }
  
  .button1 
  {
    background-color: #3f51b5;
  border: none;
  color: white;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 11%;
  font-size: 16px;
  height: 28px;
  width: 10%;
  
  }

  .theme_one{
    padding-top: 5%;
    padding-left: 20%;

    
  }
  .theme_two{
    float: right;
    padding-right: 20%;
  }