<div class="col3">
    <div class="title">
        <h1 class="title2" >Please Scan your ID / NRIC</h1>
        
        <div>
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
              <label style="font-size: 16px;">
                  Enter NRIC:
                  <input matinput formControlName="patNRIC" (keyup)=getVal($event)>
              </label><br><br>
              
              <label style="font-size: 16px;" >
                Mobile No: 
                <input matinput minlength="8" maxlength="8"  style="padding-left: 2px;">
            </label><br><br>
              <button class="button1" type="submit" [disabled]="profileForm.valid" (click)="onclick()">Submit</button>
          </form>


      </div>
    
      </div>

      
    </div>

    <div class="theme_one">
      <img src = "../../assets/GIF/scanid.gif"  width="400px" height="200px"  class="image1"> 
      <img src = "../../assets/Images/card2.jpg" width="400px" height="200px"  class="image1">
        </div>
