.button1 
{
    background-color: #3f51b5;
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 1%;
  font-size: 16px;
  height: 40px;
  width: 8%;
  border-radius: 4px;
}

.button2{
    background-color: #fc0000;
    border: none;
    color: white;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 1%;
    font-size: 16px;
    height: 40px;
    width: 8%;
}


.style1{
    text-align: center; 
    background-color: #3f51b5; 
    color: white;
    height: 5%;
}

.style2{
    margin-top: 15%;
}

.mat-horizontal-stepper-header-container {
    display: none !important;
}

.mat-stepper-horizontal-line::before {
    border-left-width: 0;
  }

  mat-step-header[aria-selected=true] ~ .mat-stepper-horizontal-line::before {
    border-left-width: 0;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }