@media screen
{

.main
{
text-align: center;
height: 100%;

}
.footer {

position:fixed;
bottom: 50px;
height: 75px;
color: white;
font-size: 16px;
text-align: left;
overflow: hide;
padding: 8px 30px;

}

footer {

position:fixed;
bottom: 0px;
width:100%;
height: 60px;

color: white;
font-size: 16px;
background-color: rgb(30, 30, 133);
text-align: center;

overflow: hide;
padding: 5px 15px;


}



.btn
{
background-color:RoyalBlue;
width: 120px;
border-radius: 10px;
color: ghostwhite;
font-size: 25px;
margin-left: 20px;
margin-bottom: 20px;
height: 50px;

}

}