<router-outlet>

   <!-- <div class="app-body">
    <div class="footer">
    <button class="btn" (click)="Visittype()"><i class="fa fa-home"></i> Exit</button>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </div>
    
    <footer>
    <div style="padding-left: 900px;margin-top:-20px;">
    
    <span class="timeWatch" style="padding-left: 900px;color: azure;">
    
    &#169;2021 ATT Infosoft. All rights reserved.<br>
    
    <h1>{{curDay | date: 'EE'}}, {{dayDate | date: 'mediumDate'}} {{currentTime | date:'mediumTime'}} </h1>
    </span>
    </div>
    
    </footer>
    </div>-->
    
    </router-outlet>