<div class="main">
    <br>
    <br>
    
    <h1 >Registration Unsuccess !</h1>
    <img src="assets\Images\unsuccess.png" style="width: 150px;height: 150px;">
    <br>
    <img class="gif" src="assets\GIF\Sad.gif">
   <h2>
    <b>Your Registration is unsuccessful</b> <br>
        Please approach our Registration staff for assistance upon your arrival at the hospital.      
   </h2>
   <button class="a2" (click)="visittype()">OK</button>
   
    
    
</div>

