.main
{
    text-align: center;

    padding-top: 15%;
}
h1{
    font-size: 30px;
    font-weight: bold;
}
.gif
{
    width:200px;
    height: 200px;
}
.a2
{

    background-color: green;
    width: 60px;
    height: 40px;
    color: honeydew;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;

}