<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Patient Name</mat-label>
    <input matInput (keyup)=getVal($event) >
 
    </mat-form-field>
  </form>

  <mat-form-field class="dropdown" appearance="fill">

    <mat-label>Ward</mat-label>
  
    <mat-select>
      <mat-option>None</mat-option>
      <div *ngFor= "let listward of wardlist2">
       
      <mat-option value="option1" (click)="getSelectedDropdown($event)">{{listward.ward}}</mat-option>
    </div>
    </mat-select>
 
  </mat-form-field>

<br><br>
  <mat-form-field class="dropdown" appearance="fill">

    <mat-label>Room</mat-label>
  
    <mat-select>
      <mat-option>None</mat-option>
      <div *ngFor= "let listroom of roomlist2">
       
      <mat-option value="option1">{{listroom.room}}</mat-option>
    </div>
    </mat-select>
  
  </mat-form-field>
  <br><br>
  <mat-form-field class="dropdown" appearance="fill">

    <mat-label>Bed</mat-label>
  
    <mat-select>
      <mat-option>None</mat-option>
      <div *ngFor= "let listbed of bedlist2">
       
      <mat-option value="option1">{{listbed.bed}}</mat-option>
    </div>
    </mat-select>
  
  </mat-form-field><br><br>
  <button mat-raised-button (click)="onSubmit()">Submit</button>